[class*="col-"] {
  float: left;
  padding-right: 20px;
  padding-bottom: 20px;
}
.container {
  margin-top: 50px;
}
h3{
  position: relative;
  top: 15px;
  text-align: center;
  margin-bottom: 0;
}
h4 {
  position: relative;
}
.card {
  padding: 20px;
  text-align: center;
  color: #eee;
  max-height: 120px;
  min-width: 120px;
  background-color: #04b580;
  border-radius: 2px;
  box-shadow: 4px 4px 33px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  /* cursor: pointer; */
}
.card:hover {
  background-color: #6cab03;
  cursor: pointer;
  color: #eee;
}
